body{
    background-color: #E3D6EC !important;
}

.pokemon:hover{
    background-color: #8E29D4 !important;
    color: #FFFFFF;
}

.btn-custom{
    background-color: #8E29D4 !important;
    color: #FFFFFF !important;
}